<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (!user) {%>
    <p>You must sign-up or log-in to create a message</p>
    <% }else if (typeof user !== 'undefined' && user.memberStatus === 'none')
    {%>
    <p>You must be a member or admin to create a message</p>
    <a href="/users/become-member"><button>Become a Member</button></a>
    <%} else {%>
    <form action="" method="POST">
      <label for="messageText">Enter your message</label>
      <textarea
        type="textarea"
        placeholder="Your message"
        name="messageText"
        required="true"
      ></textarea>
      <button type="submit">Submit</button>
    </form>
    <%}%> <% if (typeof errors !== 'undefined' && errors){%>
    <ul>
      <% for (let error of errors){ %>
      <li><%= error.msg %></li>
      <% } %>
    </ul>
    <%}%>
  </body>
</html>
