<!-- update-membership.ejs -->
<%- include('layout') %>
<main>
  <h1>Update Membership</h1>
  <form action="" method="POST">
    <label for="membershipCode">Enter the secret <%= type %> passcode</label>
    <input
      name="membershipCode"
      placeholder="Secret Passcode"
      type="password"
      value=""
    />
    <button type="submit">Become a <%= type %></button>
    <% if (typeof errors !== 'undefined' && errors){%>
    <ul>
      <% for (let error of errors){ %>
      <li><%= error.msg %></li>
      <% } %>
    </ul>
    <%}%>
  </form>
</main>
